<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Chat
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="openShare()" aria-label="Share">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="full" [routerLink]="['/tabs/tab3']">
    Go to tab3
  </ion-button>
  <br>
  <ion-button expand="full" (click)="goToTab1()">
    Go to tab1
  </ion-button>

</ion-content>
