<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="openAbout()">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
    <ion-item><ion-label>Temp Item</ion-label></ion-item>
  </ion-list>

</ion-content>
