<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      People
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="openAbout()" aria-label="About">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    @for (person of persons; track person.id) {
      <ion-item (click)="loadDetail(person)" detail>
        <ion-label>{{ person.name }}</ion-label>
      </ion-item>
    }
  </ion-list>

</ion-content>
